body {
	background-image: url("../img/black_waterpaper_background_pattern.png");
}

.centered {
	width: 400px;
	margin: 0 auto;	
}

.header {
	text-align: center;
	height: 375px;
}

.header h1 {
	margin-top: 10px;
	margin-bottom: 20px;
}

.body {
	width: 960px;
}

.logo {
	width: 300px;
	height: 300px;
	margin: 0 auto;
	background-image: url("../img/shocker.png");
}

.stats_table {
	text-align: left;
}

.stats_table td, .stats_info th {
	padding-bottom: 5px;
}