h1, h2, th, td, div {
	font-family: Helvetica, Arial, Verdana, Tahoma;
}

.header h1 {
	font-size: 30px;
	color: #FFF;
}

.body h2 {
	font-size: 18px;
	color: #FFF;
	padding-bottom: 10px;
}

.stats_table {
	color: #FFF;
	font-size: 12px;
}

.stats_table th {
	padding-right: 20px;
}

.note {
	color: #FFF;
	font-size: 12px;
}